/*******************************************************************************
 * Laboration 1, Kurs: DT161G
 * File: style.css
 * Desc: Style sheets for laboration 2
 *
 * Anders Student
 * ansu6543
 * anders.student@domän.se
 ******************************************************************************/

/* Reset margins and padding */
* {
    margin: 5px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    margin: auto;
    max-width: 960px;
    font: 13px/1.2 Helvetica, Arial, sans-serif;
    background: #EAEAEA;
}

/* Tell the browser to render HTML 5 elements as block */
header, main, section, article, aside, nav, footer {
    display: block;
}

body {
    padding: 5px;
    background: #FFFFFF;
    border: thin solid #c7c7c7;
    box-shadow: -2px 5px 25px black;
    border-radius: 5px;
}

header {
    border: 2px solid black;
    border-radius: 10px;
}

main {
    min-height: 400px;
}

aside {
    float: left;
    max-width: 300px;
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    min-height: inherit;
}

form {
    padding: 0px;
}

section {
    margin-left: 300px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-left: 2px solid gray;
    vertical-align: top;
    min-height: inherit;
}

h1 {
    font-size: 45px;
    line-height: 90px;
    padding: 22px 0px;
}

p {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

p span {
   /* display: block;*/
    line-height: 1.0;
    font-weight: bold;
}

header {
    padding: 5px 20px;
    margin-bottom: 10px;
    height: 140px;
}

header h1{
    text-align: center;
}

nav {
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 97%;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word;
}

.th20 {
    text-align: left;
    width: 20%;
}

.th40 {
    text-align: left;
    width: 40%;
}

.sortHover:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.sortHover:hover:after {
    content: " \21f5";
}

.headerActive{
    background-color: yellow;
}

footer {
    border-top: 1px solid black;
}

#submitMessage{
    margin-left: 31em;
}

#inputFrom{
    margin-left: 1.7em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.voteSymbol{
    text-decoration: none;
    font-size: 2em;
}

.voteSymbol:hover{
    color: gold;
    cursor: default;
}
